@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;600;700&display=swap');

.cart-container {
    width: 100%;
    padding: 0 3rem;
    margin-top: -80px;
    z-index: 10;
    position: relative;
    background-color: #ffffff;

}

.cart-wrapper {
    width: 100%;
    max-width: 1100px;
    padding: 3rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

.cart-left
{
    width: 100%;
    max-width: 733.33px;

}

.cart-right
{
    width: 100%;
    max-width: 336.66px;
}

.cart-item-left
{
    width: 150px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
}

.cart-item-left img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cl-top{
    padding: 0.8rem;
    border: 1.5px solid #ededed;
    color: #757575;
    font-size: 1.05rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.cl-top span{
    color: rgb(250, 84, 0);
    font-size: 22px;
}

.cart-title
{
    font-size: 1.5rem;
}

.cart-item
{
    padding: 24px 8px;
    position: relative;
    box-shadow: rgb(229 229 229) 0px 0px 0px 0px inset, rgb(229 229 229) 0px 0px 0px 0px inset, rgb(229 229 229) 0px -1px 0px 0px inset, rgb(229 229 229) 0px 0px 0px 0px inset;
    font-size: 1.07rem;
}

.cart-item_top
{
    display: flex;
    width: 100%;
    gap: 2rem;
}

.cart-item-right
{
    width: 100%;
    position: relative;
    color: #757575;
}

.ci_name
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.35rem;
    color: #111111;

}

.ci-actions
{
    margin-top: 5.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #111111;
}

.ci-actions svg{
    cursor: pointer;
}

.cart-item_bottom{
    font-size: 1.04;
    line-height: 1.5;
}

.summary{
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.subtot_section,.tot-section
{
    font-size: 1.05rem;
    width: 100%;
    position: relative;
    padding: 0.95rem 0;
    box-shadow: rgb(229 229 229) 0px 0px 0px 0px inset, rgb(229 229 229) 0px 0px 0px 0px inset, rgb(229 229 229) 0px -1px 0px 0px inset, rgb(229 229 229) 0px 0px 0px 0px inset;
}

.tot-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.tot-section span:nth-child(2)
{
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
}
.subtotal,.estim_shipping
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.ca-btn
{
    width: 100%;
    padding: 1.3rem 0;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3em;
    color: white;
    font-size: 1.03;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.ca-btn:nth-child(1):hover
{
    opacity: 0.7;
}

.paypal-btn{
    background-color: rgb(245 245 245);
    box-shadow: rgb(229 229 229) 0px 1px 0px 0px inset, rgb(229 229 229) -1px 0px 0px 0px inset, rgb(229 229 229) 0px -1px 0px 0px inset, rgb(229 229 229) 1px 0px 0px 0px inset;

}

.paypal-btn img{
    transform: scale(0.6);
}

.paypal-btn:hover
{
    background-color: transparent;
}